---
// Footer.astro
---
<footer class="text-center py-4 text-sm text-gray-200 mb-5">
  © 2025
   <a 
    href="https://francoaguirre.vercel.app/" 
    target="_blank" 
    rel="noopener noreferrer"
    class="text-blue-800 hover:text-blue-500 "
  >
    Franco Aguirre
  </a>
  <span>|</span>
  <a 
    href="https://github.com/Fran3103" 
    target="_blank" 
    rel="noopener noreferrer"
    class="text-blue-800 hover:text-blue-500 "
  >
    GitHub
  </a>
  · App con propósito educativo y demostrativo.
</footer